body{
margin: 0;
text-align: center;
}
.navbar{
    display: flex;
    background-color: aquamarine;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items:center;
}
.navbar a{
    margin: 0 1rem;
}
.navbar img{
    transform: scale(.5);
}
.google-img{
    max-width: 100%;
    margin: 4vh auto;
    
}
.searchbar{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    width: auto;
max-width: 584px;

}
.searchbar img{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

input{
    border: none;
   
    width: 100%;
    background-color: transparent;
    
}

input:focus-visible{
    outline:none;
}

