body{
margin: 0;
text-align: center;
font-size: 14px;
display: flex;
flex-flow: column;
justify-content: space-between;
font-family: 'Poppins', sans-serif; 
}
a{
    color: inherit;
    text-decoration: none;
    
}
.navbar{
    display: flex;
    background-color: transparent;
    flex-flow: wrap row;
    justify-content: flex-end;
    align-items:center;
    width: 99%;
}
.navbar a{
    margin: 0 1rem;
}
.sign-in a{
    background-color: #1a73e8;
    padding: 9px 23px;
    color: white;
    border-radius: 5px;;
}
.navbar img{
    transform: scale(.5);
}

main{
    height: 70vh;
    margin: 1rem;
}
.google-img{
    max-width: 100%;
    margin: 4vh auto;
    
}
.searchbar{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    width: auto;
max-width: 584px;

}
.searchbar img{
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

input{
    border: none;
   
    width: 100%;
    background-color: transparent;
    
}

input:focus-visible{
    outline:none;
}
.buttons{
    margin: 3rem;
    margin-bottom: 1.5rem;
}
.buttons a{
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 10px;
}

.footer{
    text-align: left;
    background-color: #f2f2f2   ;
    color: #95999c;
}
.footer a:hover{
    text-decoration: underline;
    color: rebeccapurple;
}
.country{
    flex-flow: wrap row;
    width: 95%;
    margin: 0 auto;
}
.footer-links{
    display: flex;
    flex-flow: wrap row;
    
    justify-content: space-between;
    margin: 1rem 10px;
    padding-top: 10px;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.border{
    height: 1px;
    border-top: 1px solid #dadce0
}
.footer-about-links{
    display: flex;
    width: 25vw;
    justify-content: space-between;
    
}
.footer-setting-links {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
}
.language a{
    color: rebeccapurple;
    margin: 10px;
}

.language a:hover{
    text-decoration: underline;
    
}